apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: discord-config-collector
  namespace: default
  labels:
    release: monitoring-stack
spec:
  route:
    groupBy: ["alertname"]
    groupWait: 30s
    groupInterval: 5m
    repeatInterval: 12h
    receiver: "discord-webhook"
  receivers:
    - name: "discord-webhook"
      discordConfigs:
        - webhookURL:
            key: url
            name: discord-webhook-secret
          # bloc url api avec la key
          apiURL:
            key: url
            name: discord-webhook-secret

          title: "ALERTE INFRA : {{ .GroupLabels.alertname }}"
          message: |
            {{ .CommonAnnotations.summary }}
            {{ .CommonAnnotations.description }}

            *Service:* {{ .CommonLabels.service }}
            *Pod:* {{ .CommonLabels.pod }}
